# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist/.js
/dist/assets/*.js
/dist/assets/*.css

# misc
.DS_Store
*Zone.Identifier
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Claude configuration
CLAUDE.md
.claude/
