@font-face {
  font-family: 'YaleNew';
  src: url('../assets/fonts/YaleNew-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'YaleNew-Roman';
  src: url('https://libweb.library.yale.edu/fonts/YaleNew/YaleNew-Roman.woff2') format('woff2'),
       url('https://libweb.library.yale.edu/fonts/YaleNew/YaleNew-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('../assets/fonts/SofiaPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.font-custom {
  font-family: 'SofiaPro', Optima, Candara, "Noto Sans", sans-serif;
} 
